# postgres
POSTGRES_DB=snippetwiki
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_DATA=./data/pgdata
ADMINER_PORT=8080

# snippetwiki
SECRET_KEY_BASE=run_mix_phx_gen_secret
PHX_SERVER=true
PHX_HOST=localhost
PHX_PATH=/
PORT=4000
WIKIRAG_URL=http://localhost:2080/wikirag/
# Dev: ALLOWED_HOSTS=localhost,127.0.0.1
# Prod: ALLOWED_HOSTS=your.domain.com
ALLOWED_HOSTS=localhost,127.0.0.1